<div class = "panel panel-info">
    <div class="panel-heading">
        <h3>
            <a class="article-link" target="_blank" href="{{this.link}}" >{{title}} </a>
            <button class="btn btn-primary classSaved" data-toggle="modal" data-target="#noteModal" id="{{id}}">make note</button>
            <a class ="btn btn-danger delete">Unsave Article</a>
        </h3>
    </div>
    <div class="panel-body">
        {{title}}
    </div>
</div>
