<div class="overlay">
    </div>
    
    <div class = "jumbotron background-image">
    <div class="caption">
        <h1>Saved articles</h1>
        <p>your saved articles</p>
    </div>
    </div>
    <div class="container-fluid article-container">
    
    </div>
    <div class="container">
        <p>New York Times Mongo Scraper</p>
    </div>