 <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mongo Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/saved">Saved Articles</a>
            </li>
            <li>
                <h4>scrape successful</h4>
            </li>
        </ul>
    </div>
   


<div class="container">
  <div class="jumbotron">
    <h1>scrape successful</h1><br>

    <form method = "GET" action = "/">
      <div class="form-group">


      <button type="submit" id="gotohome" class="btn btn-info">click here to go back to home page </button>
    </form><br><br>
    
   
  </div>
</div>