<div class = "panel panel-info">
    <div class="panel-heading">
        <h3>
            <a class="article-link" target="_blank" href="{{this.link}}">{{title}}</a>
            <a class="btn btn-success save">save article</a>
        </h3>
    </div>
    <div class="panel-body">
         {{title}}
     </div>
</div>
